body { background: #000 !important }  /* see the comment at the end */

/* This font is from from: https://sourceforge.net/projects/arabeyes/files/Fonts/ */
/* Under GNU GPL v2. Converted from TrueType to WOFF using */
/* then subsetted and converted to WOFF & WOFF2 using glyphhanger */
@font-face {
  font-family: KacstOne; /* version 5.0 */
  font-style: normal;
  font-weight: 400;
  src: url('../woff/KacstOne-subset.woff2') format('woff2'),
       url('../woff/KacstOne-subset.woff')  format('woff');
  font-display: swap;
}

body {
  margin: 2em;
  font-size: calc(16px + 0.5vw);
  font-family: Kacst, serif;
  text-align: center;
}

h1 {
  margin: 4rem 0 3rem;
  font-weight: normal;
  font-size: 175%;
}

p {
  line-height: 1.5;  /* slightly wide lines for Arabic */
}

#B {
  font-size: 200%;
  margin-top: 3rem;  /* must be the same margin-bottom of the block above it (the h1) to avoid jumping on changing <a>'s content in rand/s/ */
  margin-bottom: 3rem;
}

#F {
  margin-top: 2em;
}

body { background: #f8f8f0 !important; color: #223 }
a { color: #00f }
a:focus { color: #04f }
a:hover { color: #08b }
a:active { color: #0b0 }

body.dark { background: #101016 !important; color: #eee }
body.dark a { color: #68f }
body.dark a:focus { color: #4cf }
body.dark a:hover { color: #2ff }
body.dark a:active { color: #2f2 }

/* believe or not: important is needed in body's background,
 * to reduce the probability of the browser flashing white on loading or reloading.
 */
