/* Amiri Quran and Amiri Quran Colored 0.112, SIL OFL 1.1; https://github.com/alif-type/amiri */
@font-face {
  font-family: AmiriQuranWeb;
  font-style: normal;
  font-weight: 400;
  src: url('woff/AmiriQuran.woff2') format('woff2'),
       url('woff/AmiriQuran.woff')  format('woff');
}

@font-face {
  font-family: AmiriQuranColoredWeb;
  font-style: normal;
  font-weight: 400;
  src: url('woff/AmiriQuranColored.woff2') format('woff2'),
       url('woff/AmiriQuranColored.woff')  format('woff');
}

/* The following two fonts are from: https://sourceforge.net/projects/arabeyes/files/Fonts/ */
/* They are under GNU GPL v2. Both are converted from TrueType to WOFF using */
/* the WOFFjs-based WOFFer at: https://andrewsun.com/tools/woffer-woff-font-converter/ */
/* and to WOFF2 using: https://everythingfonts.com/ttf-to-woff2 */
@font-face {
  font-family: KacstOne; /* version 5.0 */
  font-style: normal;
  font-weight: 400;
  src: url('woff/KacstOne.woff2') format('woff2'),
       url('woff/KacstOne.woff')  format('woff');
}
@font-face {
  font-family: Cortoba;  /* version 2.1 */
  font-style: normal;
  font-weight: 400;
  src: url('woff/ae_Cortoba.woff2') format('woff2'),
       url('woff/ae_Cortoba.woff')  format('woff');
}

/* FreeSerif 2012, from GNU Freefont. GPLv3+. */
/* Copyright 2002, 2003, 2005, 2008, 2009, 2010, 2012 GNU Freefont contributors. */
/* Modified Feb. 2021 by Noureddin <noureddin95@gmail.com> to remove all characters except U+276E & U+276F. */
/* Modified and exported to WOFF using FontForge */
/* and converted to WOFF2 using: https://everythingfonts.com/woff-to-woff2 */
@font-face {
  font-family: FreeSerifAngles;
  font-style: normal;
  font-weight: 400;
  src: url('woff/FreeSerif-angles.woff2') format('woff2'),
       url('woff/FreeSerif-angles.woff')  format('woff');
}
