/* Amiri Quran and Amiri Quran Colored 0.112, SIL OFL 1.1; https://github.com/alif-type/amiri */
@font-face {
  font-family: AmiriQuranWeb;
  font-style: normal;
  font-weight: 400;
  src: url('woff/AmiriQuran.woff2') format('woff2'),
       url('woff/AmiriQuran.woff')  format('woff');
}

@font-face {
  font-family: AmiriQuranColoredWeb;
  font-style: normal;
  font-weight: 400;
  src: url('woff/AmiriQuranColored.woff2') format('woff2'),
       url('woff/AmiriQuranColored.woff')  format('woff');
}

/* The following two fonts are from: https://sourceforge.net/projects/arabeyes/files/Fonts/ */
/* They are under GNU GPL v2. Both are converted from TrueType to WOFF using */
/* the WOFFjs-based WOFFer at: https://andrewsun.com/tools/woffer-woff-font-converter/ */
/* and to WOFF2 using: https://everythingfonts.com/ttf-to-woff2 */
@font-face {
  font-family: KacstOne; /* version 5.0 */
  font-style: normal;
  font-weight: 400;
  src: url('woff/KacstOne.woff2') format('woff2'),
       url('woff/KacstOne.woff')  format('woff');
}
@font-face {
  font-family: Cortoba;  /* version 2.1 */
  font-style: normal;
  font-weight: 400;
  src: url('woff/ae_Cortoba.woff2') format('woff2'),
       url('woff/ae_Cortoba.woff')  format('woff');
}
