/* fonts */

/* Amiri Quran and Amiri Quran Colored 0.112, SIL OFL 1.1; https://github.com/alif-type/amiri */
@font-face {
  font-family: AmiriQuranWeb;
  font-style: normal;
  font-weight: 400;
  src: url('woff/AmiriQuran.woff2') format('woff2'),
       url('woff/AmiriQuran.woff')  format('woff');
  font-display: swap;
}
@font-face {
  font-family: AmiriQuranColoredWeb;
  font-style: normal;
  font-weight: 400;
  src: url('woff/AmiriQuranColored.woff2') format('woff2'),
       url('woff/AmiriQuranColored.woff')  format('woff');
  font-display: swap;
}

/* The following two fonts are from: https://sourceforge.net/projects/arabeyes/files/Fonts/ */
/* They are under GNU GPL v2. Both are converted from TrueType to WOFF using */
/* then both are subsetted and converted to WOFF & WOFF2 using glyphhanger */
@font-face {
  font-family: KacstOne; /* version 5.0 */
  font-style: normal;
  font-weight: 400;
  src: url('woff/KacstOne-subset.woff2') format('woff2'),
       url('woff/KacstOne-subset.woff')  format('woff');
  font-display: swap;
}
@font-face {
  font-family: Cortoba;  /* version 2.1 */
  font-style: normal;
  font-weight: 400;
  src: url('woff/ae_Cortoba-subset.woff2') format('woff2'),
       url('woff/ae_Cortoba-subset.woff')  format('woff');
  font-display: swap;
}

/* general */
html, body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  --all-width: min(80vw, 35rem);
}

body {
  text-align: center; /* center everything */
}
#body {
  background-color: var(--background);
  height: 100vh;
  width: 100vw;
  direction: rtl;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
}
#all {
  display: inline-block;
  width: var(--all-width);
}

#body {
  /* general */
  --btn-base-width: min(35vw, 10rem);
  --faint-btn: #aaa;
  --faint-txt: #aaa;
  --uitxt: #233; --txt: #111;
  --txt-font: AmiriQuranWeb;
  --background-rgb: 249, 246, 231; /* old: 249, 244, 214; */
  --content-rgb:    252, 250, 241;
  --background: rgb(var(--background-rgb));
  --background-translucent: rgba(var(--background-rgb), 0.66);
  --details-bg: white; --details-shadow: black;
  --title-rgb: 0, 0, 0;
  --tl-open: #fffc;
  --tl-closed: #fff2;
  --selection: rgba(0, 0, 255, 0.15);
  /* tajweed */
  --L: #bb6666; --W: red;     --J: orangered; --T: #ff9900;    --N: #009000;
  --X: #9595a0; --R: #2222e0; --Q: #00a5e7;   --A: darkorange; --D: navy;
  /* ayat number color */
  --A-shadow: 1px  1px  1px gold,
              1px -1px  1px gold,
             -1px  1px  1px gold,
             -1px -1px  1px gold,
              0    0    5px blue;
  --D-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
  /* help & options : tab label */
  --tab-txt: #000;
  --tab-active-txt: var(--tab-txt);
  --tab: gold;
  --tab-active: yellow;
  /* search */
  --sxsa: rgba(var(--background-rgb), 0.6);
  --sxr:  #ffdde0;  /* each aya search results */
  --sxrh: brightness(1.075);  /* hover */
  --sxra-shadow: 0 0 0.25rem black,
    inset 0  0.5rem 1rem #fff,
    inset 0 -0.5rem 1rem #0004;
}

#dark:checked ~ #body {
  /* general */
  --faint-btn: #aaa;  /* inverted */
  --faint-txt: #555;
  --uitxt: #ccc;  --txt: #eee;  --background-rgb: 26, 20, 20; --content-rgb: 23, 23, 23;
  --details-bg: black; --details-shadow: white;
  --title-rgb: 255, 255, 255;
  --tl-open: #000c;
  --tl-closed: #0002;
  --selection: rgba(0, 0, 255, 0.4);
  /* tajweed */
  --L: #bb5555;  --W: red    ;  --J: #ff6600;  --T: #ffbb00;  --N: #00ff00;
  --X: #808080;  --R: #4477ff;  --Q: #00d6ff;  --A: #ff8c00;  --D: #ffffff;
  /* ayat number color */
  /* --A: #ff8c00; --D: #ffffff; */
  /* help & options : tab label */
  --tab-txt: #ddb;
  --tab-active-txt: white;
  --tab: #A1761B;  /* a very dark goldenrod; from: https://colorcodes.io/yellow/goldenrod-color-codes/ */
  --tab-active: darkgoldenrod;
  /* search */
  --sxsa: rgba(var(--background-rgb), 0.75);
  --sxr:  #400000;  /* each aya search results */
  --sxrh: brightness(1.25);  /* hover */
  --sxra-shadow: 0 0 0.2rem white,
      inset 0  0.5rem 1rem #fff4,
      inset 0 -0.5rem 1rem #000f;
}

#dark:checked ~ #body.highcontrast {
  /* general */
  --faint-btn: #888;  /* inverted */
  --faint-txt: #777;
  --uitxt: #eee;  --txt: #fff;  --background-rgb: 0,0,0; --content-rgb: 23, 23, 23;
  /* tajweed */
  --L: #ee8888;  --W: #ff4444;  --J: #ffaa44;  --T: #ffee66;  --N: #66ffaa;
  --X: #aaaaaa;  --R: #66bbff;  --Q: #22eeff;
}

option { background: var(--details-bg) }  /* for Blink, especially in darkmode */

:not(input, button, select) { color: var(--uitxt); } /* are just inverted */
#uthm_txt { color: var(--txt); }

.L { color: var(--L) } .W { color: var(--W) } .J { color: var(--J) } .T { color: var(--T) }
.N { color: var(--N) } .X { color: var(--X) } .R { color: var(--R) } .Q { color: var(--Q) }
.A { color: var(--A); text-shadow: var(--A-shadow) }
.D { color: var(--D); text-shadow: var(--D-shadow) }

#uthm_txt    { white-space: pre-line }
#uthm_txt.nb { white-space: normal }
#uthm_txt    > br { display: none }
#uthm_txt.nb > br { display: block }

.D:after { content: '\200f'; margin-right: 0.35em }

/* general */
#body { scroll-behavior: smooth; }
::selection { background: var(--selection); }

/* https://bits.theorem.co/css-pro-tips-responsive-font-sizes-and-when-to-use-which-units */
html { font-size: calc(16px + 0.5vw) }

* { font-family: KacstOne, serif }
#aaya_bgn, #aaya_end { font-family: KacstOne }

label, label *, select, input, button {
  font-family: Cortoba, serif;
  font-size: inherit;
}

#uthm_txt, #uthm_txt * { font-family: var(--txt-font); font-size: 1.5rem; }
#uthm_txt {
  text-align: right;
  margin: 0 1em;
  margin-bottom: 4em;
}
#uthm_txt.done, #uthm_txt.sidebtns {
  margin-bottom: 1em;  /* same as margin above */
}
#endmsg {
  font-family: Cortoba, KacstOne, serif;
  font-size: min(5vw, 2rem);
  text-align: center;
  color: var(--uitxt);
  margin: 1rem auto 2rem;
}

#selectors,
#header {
  padding: 0;
  position: var(--sticky);  /* static (default) in imlaai; sticky in uthmani */
  background-color: var(--background-translucent);
  top:        -12rem;
  margin-top: -12rem;
  padding-top: 12rem;
  z-index: 2;
}

#title {
  display: none;
  margin: 0;
  color: rgb(var(--title-rgb));
  position: relative; z-index: 3;  /* above #header */
  font-size: min(calc(20px + 0.5vw), calc(var(--all-width) / 14));
}

/* suar/ayat selection */
.ss label:first-child { /* من سورة and إلى سورة */
  display: inline-block;
  width: 4em;
}

/* search buttons in #selectors */
.srcttl { font-family: inherit; color: inherit }
.search { width: initial; padding: 0 1em }
@media (max-width: 580px) { .search { padding: 0 0.25em } }
@media (max-width: 440px) {
.srcttl {  /* .sr-only -- hide visually but keep it for screenreaders */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
}

.ss {
  display: block;
  max-width: 20em;
  min-width: 40%;
  white-space: nowrap;
  margin: 0.1em auto;
}
#aaya_bgn, #aaya_end { width: 3em; }
/* #sura_bgn, #sura_end { width: 6.5em; } */
#sura_bgn, #sura_end { width: 35%; }

@media (max-width: 359px) {
  .sura { display: none }
  .ss label:first-child { width: 1.6em }  /* من سورة and إلى سورة */
}

@media (max-width: 279px) {
  .aaya { display: none }
}

#options .option { margin-top: 0.5em; }
#options .option:first-child { margin-top: 1.5em; }

#options .mode_options_title {
  display: block;
  text-align: right;
  padding-right: 2em;
  margin-top: 0.3em;
  font-family: Cortoba;
  font-weight: normal;
}

#guide { display: none }  /* used for debugging */

/* #options * { margin-top: 0 !important } */
/* .mode_options_title { display: none !important } */
/* #guide { */
/*   display: block; */
/*   width: 0; */
/*   height: 10rem; */
/*   color: red; */
/*   position: absolute; */
/*   top: 0; */
/*   left: 15%; */
/* } */

#options {
  /* text-align: right; */
  padding: 0.5em 1em;
  box-sizing: border-box;
  width: var(--all-width);
}

#options * {
  font-family: KacstOne, serif;  /* serif for latin, like in qaris */
  font-weight: bold;
  line-height: 1.7;
}

.option > * { margin: 0 }
/* to make no unclickable space between the label and input. */

#darkmode_option { width: 7em }
#teacher_option { width: 14em }

.option.maybe-inline {
  display: inline-block;
  margin: 0 1em;
}

#mode_options {
  padding: 0; margin: 0;
}

#qaris         { width: calc(100% -  6.80em) }
#quizmode      { width: calc(100% -  7.35em) }
#mvbtns_input  { width: calc(100% -  9.40em) }
#textclr_input { width: calc(100% -  6.45em) }
#feedbackrate  { width: calc(100% -  9.25em) }
#tafsir        { width: calc(100% -  7.90em) }

#imla_txt { background: var(--background); color: var(--txt); transition: background 1s }

#imla_txt.noborder { border: none; outline: none }

                      .done #imla_txt  { background: lightgreen }
#dark:checked ~ #body .done #imla_txt  { background: #004400 }

                                  .wrong #imla_txt { background: pink }
                #body.lowcontrast .wrong #imla_txt { background: #ffe0e0 }
#dark:checked ~ #body             .wrong #imla_txt { background: #661016 }
#dark:checked ~ #body.lowcontrast .wrong #imla_txt { background: #401014 }

                                  .spacewrong #imla_txt { background: wheat }
                #body.lowcontrast .spacewrong #imla_txt { background: wheat }
#dark:checked ~ #body             .spacewrong #imla_txt { background: #5B3300 }
#dark:checked ~ #body.lowcontrast .spacewrong #imla_txt { background: #351D00 }

#imla_txt {
  font-size: 1.5rem;
  text-align: right;
  padding: 0.5em;
  padding-bottom: min(20vh, 4em);
  box-sizing: border-box;
  font-family: AmiriQuranWeb;
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
}

#imla_txt_container {
  width: min(90%, 70vw);
  /* height: 95vh; */ /* set thru JS */
  margin: auto;
  margin-bottom: 1rem;
}

#imla_txt_container.done #imla_txt {
  padding-bottom: 0.5em;
}

/* #body.fullpage and not #imla_txt_container.fullpage because */
/* #imla_txt_container's classes are used for states (wrong, spacewrong, done) */
#body.fullpage #imla_txt_container:not(.done) {  /* :not(.done) to restore them when done */
  width: 100vw;
  position: absolute;
  right: 0;
  /* height: 100vh; */ /* set thru JS */
}
#body.fullpage #imla_txt_container:not(.done) #imla_txt {
  border: none;
  border-radius: 0;
}

button {
  --width: var(--btn-base-width);
  width: var(--width);
  transition: opacity 0.5s ease-in-out;
  touch-action: manipulation; /* disable double-tap zooming; https://stackoverflow.com/a/53236027 */
}

#mvbtns, #mvbtns button {
  --width: calc(var(--all-width) / 7.5);
  --mv-all-width: calc(var(--width)*7 + 1.25em);
}

#mvbtns button {
  margin: 0 0.25em;
  height: 2em;
  fill: var(--faint-btn);
}

#mvbtns #nextword {
  /* --width: calc(0.50 * var(--btn-base-width)); */
  width: calc(2*var(--width));
  fill: #000;  /* inverted in darkmode; thus becomes #fff */
}

#mvbtns svg { width: 1em; height: 1em; }

@media (max-width: 319px) { /* TODO: sidebtns */
  #prevaaya, #nextaaya { display: none }
  #mvbtns, #mvbtns button {
    --width: calc(var(--all-width) / 5.5);
    --mv-all-width: calc(var(--width)*5 + 0.75em);
  }
}

button, select, input[type=checkbox] + label {
  cursor: pointer;
}

:disabled {
  cursor: not-allowed;
}

label.disabled {
  color: var(--faint-txt);
}

#dark:checked ~ #body kbd,
#dark:checked ~ #body input,
#dark:checked ~ #body button,
#dark:checked ~ #body select { filter: invert(1) hue-rotate(180deg) }

/* begin: svg#tl -- tajweed legend */
svg #L { fill: var(--L) }
svg #W { fill: var(--W) }
svg #J { fill: var(--J) }
svg #T { fill: var(--T) }
svg #N { fill: var(--N) }
svg #X { fill: var(--X) }
svg #R { fill: var(--R) }
svg #Q { fill: var(--Q) }

#tl * {
  transition: 0.5s;
  cursor: pointer;
}

text {
  fill: var(--txt);
  font-size: 38px;  /* available width is 400px */
}

#tl line { stroke: var(--txt); stroke-width: 2px }

#tl {
  position: fixed;
  bottom: 4em;
  left: 0;
  height: 7em;
  margin: 0 auto;
  display: block;
  z-index: 1;
}

@media (max-width: 300px) {
  #tl { height: calc(100vw * 2/5) }  /* make it the same width as the screen */
}

#tl rect {
  fill: var(--tl-closed);
}
#tl[aria-expanded="true"] rect {
  fill: var(--tl-open);
}
#tl.right {
  left: initial;
  right: 0;
}
/* end: svg#tl -- tajweed legend */

#uthm_txt.letter-parts {
  --txt-font: AmiriQuranColoredWeb;
  --L: var(--txt); --W: var(--txt); --J: var(--txt); --T: var(--txt);
  --N: var(--txt); --X: var(--txt); --R: var(--txt); --Q: var(--txt);
}

#uthm_txt.letter-nocolor {
  --L: var(--txt); --W: var(--txt); --J: var(--txt); --T: var(--txt);
  --N: var(--txt); --X: var(--txt); --R: var(--txt); --Q: var(--txt);
}

#uthm_txt.ayat-nocolor {
  --A: var(--txt); --A-shadow: none;
  --D: var(--txt); --D-shadow: none;
}

#uthm_txt.letter-parts:not(.ayat-nocolor) .A,
#uthm_txt.letter-parts:not(.ayat-nocolor) .D {
  font-family: AmiriQuranWeb;
}

/* all help elements are affected by invert and hue-rotate */
#dark:checked ~ #body .help-part      { color: #f66 }
#dark:checked ~ #body summary::marker { color: #f66 }
/* #dark:checked ~ #body .help-part      { color: #f22 } */
/* #dark:checked ~ #body summary::marker { color: #f22 } */
#dark:checked ~ #body details *       { color: #aaf }
#dark:checked ~ #body a               { color: #adf }
#dark:checked ~ #body kbd             { color: #000 }  /* inverted */
#dark:checked ~ #body summary         { color: #fff }

a * { color: inherit !important }

.help-part {
    font-weight: normal;
    color: #c00;
    font-size: 120%;
}
.help-part::after  { content: " :."; }
.help-part::before { content: ".: "; }

details * {
  color: #008;
}

summary {
  color: #000;
  margin-right: -0.2em;
}

details strong {
  border-bottom: 0.1em solid
}

summary::marker { color: #c00; }

#mvbtns {
  position: fixed;
  bottom: 1em;
  height: 2em;
  /* right: calc(50vw - 0.5 * var(--mvbtns-width)); */
  right: calc(48vw - var(--mv-all-width) / 2);
  margin: 0;
  transition: opacity 0.1s ease-in-out;
  z-index: 1;
}

#mvbtns.sidebtns {
  --btn-base-width: min(35vh, 10rem);
  --all-width: min(80vh, 35rem);  /* same as the initial definition, but with vh instead of vw */
  position: fixed;
  width: 100vh;
  top: 0;
  transform-origin: top right;
  transform: rotate(-90deg);
  z-index: 11;
}

#mvbtns.sidebtns.rightside { right: 3em }
@media (max-width: 519px) {
#mvbtns.sidebtns.rightside { right: 2em /* button height */ }
}

#mvbtns.sidebtns.leftside { right: calc(100vw - 1em) }
@media (max-width: 519px) {
#mvbtns.sidebtns.leftside { right: 100vw }
}

.bh button {
  display: inline-block;
  margin: 0.5em;
  width: 10em;
  max-width: 35vw;
  padding: 0.5em;
}

select, .bh { margin: 0.5em 0 }
hr { margin-top: 1em }

.bh { display: flex; justify-content: center }
.bh button { width: 0; flex-basis: 8em; margin: 0 0.5em }
@media (max-width: 519px) { .b3 button { white-space: pre } }
@media (max-width: 359px) { .bh button { white-space: pre } } /* 2 buttons */
@media (max-width: 319px) { .b3 button { font-size: 80% } }

#header button {
  margin: 0.25rem;
}

#preloader {
  display: none;
}

#player {
  display: block;
  /* centered with https://stackoverflow.com/a/2006008 */
  margin-left: -5rem; /* negative half of width */
  width: 10em;
  left: 50vw;
  /* sticky at top */
  position: fixed;
  top: 0;
  /* hidden if no qari is selected */
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 30;  /* higher than the help toggle label */
}

/* help */

.help-part {
    margin-bottom: 0.4rem;
}

details, details * {
  margin: 0;
  margin-bottom: 0.5rem;
}

/* to apply margin only when open */
details > :last-child  { margin-bottom: 0.8rem; }

.details-content {
    background-color: var(--details-bg);
    box-shadow: 0 0 0.2em 0 var(--details-shadow);
    width: calc(var(--all-width) - 10%);  /* minus 2 times side padding */
    margin-right: -0.1em;  /* half blur radius */
    padding-top:    0.4rem;
    padding-bottom: 0.2rem;
    padding-left:  5%;
    padding-right: 5%;
}

#help b {
  display: block;
  color: black;
  margin: 0.8rem 0 0.2rem 0;
}

a { color: blue; }
a:visited { color: purple; }
a:hover { text-shadow: 1pt 1pt 2pt lightblue; }
a:active { color: red; text-shadow: 1pt 1pt 2pt lightblue; }

.tab {  /* hide the checkbox, while making it accessible */
  /* https://kittygiraudel.com/snippets/sr-only-class/ */
  /* https://kittygiraudel.com/2021/02/17/hiding-content-responsibly/ */
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.tab ~ label { user-select: none; }  /* it's easy to select it while clicking */

#help { display: flex; flex-direction: column-reverse; }

#help {
  margin: 0;
  box-sizing: border-box;
  width: var(--all-width);
}

#optiontoggle         + label:before { content: "أظهر" }
#optiontoggle:checked + label:before { content: "أخفِ"  }

#helpcontent ul {
    text-align: right;
}

.tab + label {
  font-weight: normal; /* bold */
  box-sizing: border-box;
  --label-gap: 0.5rem;
  --small-width: 2rem;
  --margin-bottom: 1rem;
  --padding: 0.5rem;
  --height: 2.2rem;
  --big-width: calc(var(--all-width) - var(--label-gap) - var(--small-width));
  line-height: 1.2;
  padding: var(--padding);
  margin-bottom: var(--margin-bottom);
  height: var(--height);
  background: var(--tab);
  color: var(--tab-txt);
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 1rem 1rem;
  z-index: 20;
  position: relative;
}
#dark:checked ~ #body .tab + label {
  box-shadow: 1px 3px 4px rgba(255, 255, 255, 0.3);
}

#optiontoggle + label {
  width: var(--big-width);
}

#helptoggle + label {
  width: var(--small-width);
  right: calc(var(--big-width) + var(--label-gap));
  top: calc(-1*var(--height) - 2*var(--padding));
  margin-bottom: calc(-1*var(--height)); /* remove the space created by removing it */
  z-index: 21;  /* workaround for some browsers */
}

.contentcontainer {
  width: calc(var(--all-width) - 0.2rem);  /* minus 2 times side padding */
  padding: 0.1rem;
  padding-bottom: 1rem;
  background: rgb(var(--content-rgb));
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3);
  margin: 0;
  margin-top: -1.1rem;
  z-index: 5;
}

#help summary {
  padding-left: 1rem;
  padding-right: 1rem;
}

#help details {
  scroll-margin: 0.5rem;
}

#helptoggle:not(checked) ~ #helpcontent {
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s cubic-bezier(0, 1.0, 0, 1.0),
              visibility 1s step-end;
  visibility: hidden;
}
#helptoggle:checked ~ #helpcontent {
  max-height: 32766px;
  transition: max-height 3s ease-in,
              visibility 3s step-start;
  visibility: visible;
}

#optiontoggle:not(checked) ~ #options {
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s cubic-bezier(0, 1.0, 0, 1.0),
              visibility 1s step-end;
  visibility: hidden;
}
#optiontoggle:checked ~ #options {
  max-height: 32766px;
  transition: max-height 3s ease-in,
              visibility 3s step-start;
  visibility: visible;
}

.tab + label:hover {
  background: var(--tab-active);
  color: var(--tab-active-txt);
}

.tab:focus-visible + label {
  background: var(--tab-active);
  outline: medium solid deepskyblue;
}

kbd {
  font-family: serif;
  direction: ltr;
  font-size: 0.7rem;
  /* based on https://meta.superuser.com/q/4788 */
  background-color: #e7e7e7;
  border: 1px solid #888;
  border-radius: 0.5em;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2),
              0 0 0 2px #fff inset;
  color: #000;
  display: inline-block;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  text-shadow: 0 1px 0 #fff;
}

.roman { font-size: 80%; }
.roman, .roman * {
  font-family: serif;
  direction: ltr;
}

summary { outline: none; } /* hide bounding box when click */

/* https://stackoverflow.com/a/38215801 */
details[open] > .details-content {
  animation: fade-in .5s ease-in-out;
}
@keyframes fade-in {
  0%    { opacity: 0 }
  100%  { opacity: 1 }
}

#zzback { display: block; margin: auto; margin-top: 0.5em; }

#end_of_header {
  margin: 0;
  margin-top: 0.2em
}


/* reduced motion */

@media screen and (prefers-reduced-motion: reduce) {
* {
  scroll-behavior: auto !important;
  animation: none !important;
  transition: none !important;
}
}

/* begin: common styling for popups: tafsir & search */
.popup {  /* the container */
  display: none;
  visibility: hidden;  opacity: 0;  transition: 1s opacity;
  position: fixed;  top: 0;  right: 0;  width: 100%;  height: 100%;
  overflow: scroll;
  z-index: 50;  /* above everything */
  background: rgb(var(--background-rgb));
}

.pc {  /* popup content */
  padding: 1em;
  width: var(--all-width);
  margin: 0 auto;
}
.pc > * {
  font-size: 1.25em;
}
.pc > * * {
  font-family: inherit;
  font-size: inherit;
}

.x {  /* popup close-button */
  opacity: 0.25;  transition: 0.75s opacity;
  position: fixed;  top: 0.5em;  left: 0.5em;
  cursor: pointer;
  width: 2em;
  height: 2em;
}

.x:hover, .x:focus { opacity: 1 }

.x line { stroke: rgb(var(--background-rgb)) }
.x circle { fill: var(--uitxt) }

#spinner { animation: spin 1.6s infinite linear; stroke: var(--uitxt) }
@keyframes spin {
    0% { transform: rotate(0turn) }
  100% { transform: rotate(1turn) } 
}
#spinner-svg {
    width: 4em;
    margin: 1em auto;
    vertical-align: bottom;
}

/* aayah in #tv, and aayah-end in #tafsirhint, and in many #tvtxt */
/* #tafsirhint .aya, #tv .aya, #tvtxt .aya, #sxr .aya { font-family: AmiriQuranWeb } */
.aya { font-family: AmiriQuranWeb !important }

/* end: common styling for popups: tafsir & search */

/* begin: tafsir */
.A { cursor: help }
#tafsirhint .A { cursor: initial }

#tvtxt {  /* tafsir content -- only if there is tafsir */
  text-align: right;
  line-height: 1.8;
}

#tafsirhint {
  margin-top: 4em;
  margin-bottom: 1em;
  transition: opacity 1s ease-in-out;
}

/* to accomodate the various languages (our KacstOne is subsetted); */
/* scripts other than Latin and Perso-Arabic use an available font on the system */
#tafsir /* selector */, #tafsir > option,
#tv [lang] /* title & content */ {
  font-family: "Noto Sans Arabic", "Noto Sans";
}

#tafsirnote { font-size: 0.70em }

#tvtxt[dir="ltr"], #tvtxt[dir="ltr"] * {
  text-align: left;
}

/* end: tafsir */

/* begin: search */
/* see also: "search buttons in #selectors" */

#sx * { font-family: KacstOne }
/* except #sxr .aya */

#sxi { width: var(--all-width) }
#sx input { min-width: 8em }

#sura_sx {
  font-family: Cortoba;  /* like #sura_{bgn,end}; b/c overriden by ".pc > * *" */
  margin-left: 0.5em;
  width: 6em;
}

#sxi { display: flex; flex: row }
#sx input { flex-grow: 100 /* all the space it can have */ }

@media (max-width: 428px) { #sura_sx { font-size: 90% } }
@media (max-width: 409px) { /* make it two lines */
  #sxi { display: block }
  #sura_sx { margin-bottom: 0.5em }
  #sx input { width: 97% /* full row;  100% is too wide */ }
}

#sx center { margin: 2em  0 }  /* messages, not search results */
#sx svg + center { margin-top: 0 }  /* if waiting after user input */

#sxr .ac {
  text-align: right;
  background: var(--sxr);
  border-radius: 1rem;
  padding: 1rem;
  margin: 1.5rem 0;
  overflow: hidden;  /* hide the excess part of .s_a */
  position: relative;
  transition: 0.25s filter;
}
#sxr .ac:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: -1rem 0;  /* to counter the padding of the parent */
  box-shadow: var(--sxra-shadow);
}

#sxr .ac:hover, #sxr .ac:active {
  filter: var(--sxrh);
}

.s_a {  /* sura-aaya title in #sxr */
  background: var(--sxsa);
  border-radius: 0 1rem 0 1rem;
  padding: 3rem 1rem 0.5rem 0.75rem;
  margin: 0 -1rem 0 1rem;
}

@media (max-width: 359px) {
  .s_a {  /* make it full line */
    display: block;
    padding: 1rem;
    margin: -1rem -1rem 0 -1rem;
  }
}

#sxr .aya {
  line-height: 2.75;
}

#sxr:hover, #sxr:focus {
  cursor: pointer;
}

/* end: search */

