/* tajweed */
.L { color: firebrick;  } /* darkred;  madd lazem (6 vowels) */
.W { color: red;        } /* red;      madd wajeb (4 or 5 vowels) */
.J { color: #fe6c29;    } /* orange;   madd jaez (2 or 4 or 6 vowels) */
.T { color: goldenrod;  } /* gold;     madd tabiei (2 vowels) */
.N { color: green;      } /* green;    ghunna and ikhfaa */
.X { color: #a7a195;    } /* darkgrey; silent */
.R { color: #281dcf;    } /* darkblue; emphasis */
.Q { color: dodgerblue; } /* blue;     qalqala */
.A {
    color: darkorange;
    text-shadow:
                  1px  1px  1px gold,
                  1px -1px  1px gold,
                 -1px  1px  1px gold,
                 -1px -1px  1px gold,
                  0    0    5px blue;
}
.D {
    color: navy;
    text-shadow: 0 0 10px rgba(0,0,255,0.5);
}

/* general */
html { scroll-behavior: smooth; }
::selection { background: rgba(0,0,255,0.1); }


/* https://bits.theorem.co/css-pro-tips-responsive-font-sizes-and-when-to-use-which-units */
html { font-size: calc(16px + 0.5vw) }
/* https://getbootstrap.com/docs/4.0/layout/overview/#responsive-breakpoints */
                             /* html { font-size: 1   em; } */
/* @media (min-width:  576px) { html { font-size: 1   em; } } */
/* @media (min-width:  768px) { html { font-size: 1.5 em; } } */
/* @media (min-width:  992px) { html { font-size: 1.5 em; } } */
/* @media (min-width: 1200px) { html { font-size: 1.5 em; } } */

* {
  font-family: Cortoba;
  font-size: inherit; /* some widgets default to another value */
}

#txt, .L,.W,.J,.T,.N,.X,.R,.Q, .A,.D { font-family: AmiriQuranWeb; font-size: 1.5rem; }
#endmsg { font-size: 120%; text-align: center; }

.help-part {
    font-weight: normal;
    color: #c00;
    font-size: 120%;
}
.help-part::after  { content: " :."; }
.help-part::before { content: ".: "; }

details * {
  font-family: KacstOne;
  color: #008;
}

summary {
  /* font-family: Cortoba; */
  color: #000;
  /* display: inline; /1* so the marker is on the same line *1/ */
  margin-right: -0.2em;
}

summary::marker { color: #c00; }

#aaya_beg, #aaya_end { font-family: KacstOne; }

/* center everything */
body { text-align: center; }
#all {
  display: inline-block;
  width: 80vw;
  min-width: 10em;
  max-width: 35em;
}

/* suar/ayat selection */
#aaya_beg, #aaya_end { width: 1.5em; }
#sura_beg, #sura_end { width: 6.5em; }
table { display: inline; }
table, table * { margin: 0; padding: 0;  }
td { padding: 0.4em; }
td label { padding-left: 0.1em; }

/* used for scroll buttons */
justafterselect { margin-top: 1rem; }
justbeforetoggle { margin-bottom: 1rem; }

#txt {
  text-align: right;
  padding: 0 1em;
  padding-bottom: 4rem;
}

#ok {
  /* centered with https://stackoverflow.com/a/2006008 */
  margin-left: -5rem; /* negative half of width */
  width: 10rem;
  left: 50vw;
  /* sticky at bottom */
  position: fixed;
  bottom: 1rem;
  transition: opacity 0.5s ease-in-out;
  touch-action: manipulation; /* disable double-tap zooming; https://stackoverflow.com/a/53236027 */
}

#textclr_input {
  width: 9.8em;
}

#qaris {
  width: calc(100% - 6.5em);
}

#player {
  display: block;
  /* centered with https://stackoverflow.com/a/2006008 */
  margin-left: -5rem; /* negative half of width */
  width: 10em;
  left: 50vw;
  /* sticky at top */
  position: fixed;
  top: 0;
  /* hidden if no qari is selected */
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 3;  /* higher than the help toggle label */
}

#up, #dn {
  position: fixed;
  right: 80vw;
  bottom: 10vh;
  visibility: hidden;
  transition: opacity 1s 1s;
  opacity: 0%;
  z-index: 99;
}

#up *, #dn * {
  transition: fill-opacity 0.5s;
  fill-opacity: 50%;
  fill: #1034A6;  /* Egyptian Blue, because I'm Egyptian ;) */
}

#up:hover *, #dn:hover * {
  fill-opacity: 100%;
}

/* help */

.help-part {
    margin-bottom: 0.4rem;
}

details, details * {
  margin: 0;
  margin-bottom: 0.5rem;
}

/* to apply margin only when open */
details > :last-child { margin-bottom: 0.8rem; }

.details-content {
    background-color: white;
    box-shadow: 0 0 0.2em 0 black;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

b {
  display: block;
  color: black;
  margin: 0.8rem 0 0.2rem 0;
}

a { color: blue; }
a:visited { color: purple; }
a:hover { text-shadow: 1pt 1pt 2pt lightblue; }
a:active { color: red; text-shadow: 1pt 1pt 2pt lightblue; }

#helptoggle { display: none; }  /* hide the checkbox */
#helptoggle ~ label { user-select: none; }  /* it's easy to select it while clicking */

#help { display: flex; flex-direction: column-reverse; }

#helpcontent { margin: 0; }
#help {
  margin: 0;
  margin-top: -1.5rem;
  margin-bottom: 0.5rem;
}

#helpcontentcontainer {
  padding: 1rem;
  background: rgba(255,255,255,0.4);
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3);
}

#helptoggle:not(checked) ~ div #helpcontent {
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s cubic-bezier(0, 1.0, 0, 1.0),
              visibility 1s step-end;
  visibility: hidden;
}
#helptoggle:checked ~ div #helpcontent {
  max-height: 32766px;
  transition: max-height 3s ease-in,
              visibility 3s step-start;
  visibility: visible;
}

#helptoggle ~ label:before {
  content: "أظهر ";
}

#helptoggle:checked ~ label:before {
  content: "أخفِ ";
}

#helpcontent ul {
    text-align: right;
}

#help label {
  cursor: pointer;
  font-weight: normal;
  padding: 10px;
  background: gold;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 1rem 1rem;
  z-index: 2;
}

#help label:hover,
#help label:focus {
  background: yellow;
}

kbd {
  font-family: serif;
  direction: ltr;
  font-size: 0.7rem;
  /* based on https://meta.superuser.com/q/4788 */
  background-color: #e7e7e7;
  border: 1px solid #888;
  border-radius: 0.5em;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2),
              0 0 0 2px #fff inset;
  color: #000;
  display: inline-block;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  text-shadow: 0 1px 0 #fff;
}            

.roman { font-size: 80%; }
.roman, .roman * {
  font-family: serif;
  direction: ltr;
}

summary { outline: none; } /* hide bounding box when click */

/* https://stackoverflow.com/a/38215801 */
details[open] > .details-content {
  animation: fade-in .5s ease-in-out;
}
@keyframes fade-in {
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}
