/* general */
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body { text-align: center; } /* center everything */
#body {
  background-color: var(--background);
  min-height: 100%;
  min-width: 100%;
}
#all {
  display: inline-block;
  width: 80vw;
  min-width: 10em;
  max-width: 35em;
}

#body {
  /* general */
  --btn-base-width: 10rem;
  --faint-btn: #666;
  --uitext: #233; --txt: #111;
  --txt-font: AmiriQuranWeb;
  --background-rgb: 249, 246, 231; /* old: 249, 244, 214; */
  --background: rgb(var(--background-rgb));
  --background-translucent: rgba(var(--background-rgb), 0.66);
  /* tajweed */
  --L: maroon;  --W: red;     --J: orangered; --T: #ff9900;    --N: #007600;
  --X: #8888aa; --R: #0000aa; --Q: #0066ff;   --A: darkorange; --D: navy;
  /* ayat number color */
  --A-shadow: 1px  1px  1px gold,
              1px -1px  1px gold,
             -1px  1px  1px gold,
             -1px -1px  1px gold,
              0    0    5px blue;
  --D-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
  /* help & options : tab label */
  --tab: gold;
  --tab-active: yellow;
}

#dark:checked ~ #body {
  /* general */
  --faint-btn: #555;
  --uitext: #ccc;  --txt: #eee;  --background-rgb: 13, 13, 13;
  /* tajweed */
  --L: #bb4444;  --W: red    ;  --J: #ff6600;  --T: #ffbb00;  --N: #00ff00;
  --X: #806666;  --R: #3366ff;  --Q: #00ccff;  --A: #ff8c00;  --D: #ffffff;
  /* ayat number color */
  /* --A: #ff8c00; --D: #ffffff; */
  /* help & options : tab label */
  --tab-active: goldenrod;
}

:not(input, button, select) { color: var(--uitext); } /* are just inverted */
#txt { color: var(--txt); }

.L { color: var(--L) } .W { color: var(--W) } .J { color: var(--J) } .T { color: var(--T) }
.N { color: var(--N) } .X { color: var(--X) } .R { color: var(--R) } .Q { color: var(--Q) }
.A { color: var(--A); text-shadow: var(--A-shadow) }
.D { color: var(--D); text-shadow: var(--D-shadow) }

/* general */
html { scroll-behavior: smooth; }
::selection { background: rgba(0,0,255,0.1); }

/* https://bits.theorem.co/css-pro-tips-responsive-font-sizes-and-when-to-use-which-units */
html { font-size: calc(16px + 0.5vw) }
@media (max-width:  576px) { html { font-size: 16px; } }
/* https://getbootstrap.com/docs/4.0/layout/overview/#responsive-breakpoints */
                             /* html { font-size: 1   em; } */
/* @media (min-width:  576px) { html { font-size: 1   em; } } */
/* @media (min-width:  768px) { html { font-size: 1.5 em; } } */
/* @media (min-width:  992px) { html { font-size: 1.5 em; } } */
/* @media (min-width: 1200px) { html { font-size: 1.5 em; } } */

* {
  font-family: Cortoba;
  font-size: inherit; /* some widgets default to another value */
}

#txt, #txt * { font-family: var(--txt-font); font-size: 1.5rem; }
#txt {
  text-align: right;
  padding: 0 1em;
  padding-bottom: 4rem;
}
#endmsg {
  font-size: 1.6rem;
  text-align: center;
  color: var(--uitext);
  margin: auto;
  margin-top: -3rem;  /* counter padding-bottom for #txt */
  padding-bottom: 2rem;
}

#selectors,
#header {
  padding: 0;
  padding-top: 0.5rem;
  position: sticky; top: 0;
  background-color: var(--background-translucent);
}

#aaya_bgn, #aaya_end { font-family: KacstOne; }

/* suar/ayat selection */
#textclr_input { width: 9.8em }
#qaris { width: calc(100% - 6.5em) }
#aaya_bgn, #aaya_end { width: 1.5em; }
#sura_bgn, #sura_end { width: 6.5em; }
table { display: inline; }
table, table * { margin: 0; padding: 0;  }
td { padding: 0.4em; }
td label { padding-left: 0.1em; }

button {
  --width: var(--btn-base-width);
  width: var(--width);
  transition: opacity 0.5s ease-in-out;
  touch-action: manipulation; /* disable double-tap zooming; https://stackoverflow.com/a/53236027 */
}

#mvbtns * {
  --width: calc(0.33 * var(--btn-base-width));
  color: var(--faint-btn);
  letter-spacing: -0.5em;
  padding: 0; padding-left: 0.5em;
}
#nextword {
  --width: calc(0.67 * var(--btn-base-width));
  color: initial;
}

button, select, input, input[type=checkbox] + label {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

#dark:checked ~ #body kbd,
#dark:checked ~ #body input,
#dark:checked ~ #body button,
#dark:checked ~ #body select { filter: invert(1) hue-rotate(180deg) }

#dark:checked ~ #body .contentcontainer {
  background: rgba(255,255,255,0.04);
  /* box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3); */
}

body.letter-parts #txt {
  --txt-font: AmiriQuranColoredWeb;
  --L: var(--txt); --W: var(--txt); --J: var(--txt); --T: var(--txt);
  --N: var(--txt); --X: var(--txt); --R: var(--txt); --Q: var(--txt);
}

body.letter-nocolor #txt {
  --L: var(--txt); --W: var(--txt); --J: var(--txt); --T: var(--txt);
  --N: var(--txt); --X: var(--txt); --R: var(--txt); --Q: var(--txt);
}

body.ayat-nocolor #txt {
  --A: var(--txt); --A-shadow: none;
  --D: var(--txt); --D-shadow: none;
}

body.letter-parts:not(.ayat-nocolor) #txt .A,
body.letter-parts:not(.ayat-nocolor) #txt .D {
  font-family: AmiriQuranWeb;
}

/* all help elements are affected by invert and hue-rotate */
/* #dark:checked ~ #body .help-part      { color: #f66 } */
/* #dark:checked ~ #body summary::marker { color: #f66 } */
#dark:checked ~ #body .help-part      { color: #f22 }
#dark:checked ~ #body summary::marker { color: #f22 }
#dark:checked ~ #body details *       { color: #aaf }
#dark:checked ~ #body strong          { color: #caf }
#dark:checked ~ #body a               { color: #bbf }
#dark:checked ~ #body kbd             { color: #000 }  /* inverted */
#dark:checked ~ #body summary         { color: #fff }
.tab + label    { color: #000 }

#dark:checked ~ #body .details-content {
    background-color: black;
    box-shadow: none;
}

/* /1* tajweed *1/ */
/* .L { color: maroon      } /1* firebrick;  } /1* darkred;  madd lazem (6 vowels) *1/ */
/* .W { color: red         } /1* red;        } /1* red;      madd wajeb (4 or 5 vowels) *1/ */
/* .J { color: orangered   } /1* #fe6c29;    } /1* orange;   madd jaez (2 or 4 or 6 vowels) *1/ */
/* .T { color: #ff9900     } /1* goldenrod;  } /1* gold;     madd tabiei (2 vowels) *1/ */
/* .N { color: #007600     } /1* green;      } /1* green;    ghunna and ikhfaa *1/ */
/* .X { color: #8888aa     } /1* #a7a195;    } /1* darkgrey; silent *1/ */
/* .R { color: #0000aa     } /1* #281dcf;    } /1* darkblue; emphasis *1/ */
/* .Q { color: #0066ff     } /1* dodgerblue; } /1* blue;     qalqala *1/ */
/* .A { */
/*     color: darkorange; */
/*     text-shadow: */
/*                   1px  1px  1px gold, */
/*                   1px -1px  1px gold, */
/*                  -1px  1px  1px gold, */
/*                  -1px -1px  1px gold, */
/*                   0    0    5px blue; */
/* } */
/* .D { */
/*     color: navy; */
/*     text-shadow: 0 0 10px rgba(0,0,255,0.5); */
/* } */


.help-part {
    font-weight: normal;
    color: #c00;
    font-size: 120%;
}
.help-part::after  { content: " :."; }
.help-part::before { content: ".: "; }

details * {
  font-family: KacstOne;
  color: #008;
}

summary {
  /* font-family: Cortoba; */
  color: #000;
  /* display: inline; /1* so the marker is on the same line *1/ */
  margin-right: -0.2em;
}

summary::marker { color: #c00; }

#mvbtns {
  /* /1* centered with https://stackoverflow.com/a/2006008 *1/ */
  /* margin-left: calc(-0.5 * 4 * var(--width)); */
  /* left: 50vw; */
  /* sticky at bottom */
  position: fixed;
  bottom: 1rem;
  right: calc(50vw - 0.5 * (5*0.33 + 0.67 + 5*0.1) * var(--btn-base-width));
  margin: 0 calc(0.1 * var(--btn-base-width));
}

/* #nextword, */
/* #ok { */
/*   /1* centered with https://stackoverflow.com/a/2006008 *1/ */
/*   margin-left: -5rem; /1* negative half of width *1/ */
/*   left: 50vw; */
/*   /1* sticky at bottom *1/ */
/*   position: fixed; */
/*   bottom: 1rem; */
/* } */

#player {
  display: block;
  /* centered with https://stackoverflow.com/a/2006008 */
  margin-left: -5rem; /* negative half of width */
  width: 10em;
  left: 50vw;
  /* sticky at top */
  position: fixed;
  top: 0;
  /* hidden if no qari is selected */
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 3;  /* higher than the help toggle label */
}

/* help */

.help-part {
    margin-bottom: 0.4rem;
}

details, details * {
  margin: 0;
  margin-bottom: 0.5rem;
}

/* to apply margin only when open */
details > :last-child { margin-bottom: 0.8rem; }

.details-content {
    background-color: white;
    box-shadow: 0 0 0.2em 0 black;
    padding-top:    0.2rem;
    padding-bottom: 0.2rem;
    padding-left:  5%;
    padding-right: 5%;
}

b {
  display: block;
  color: black;
  margin: 0.8rem 0 0.2rem 0;
}

a { color: blue; }
a:visited { color: purple; }
a:hover { text-shadow: 1pt 1pt 2pt lightblue; }
a:active { color: red; text-shadow: 1pt 1pt 2pt lightblue; }

.tab { display: none; }  /* hide the checkbox */
.tab ~ label { user-select: none; }  /* it's easy to select it while clicking */

#help { display: flex; flex-direction: column-reverse; }

#helpcontent { margin: 0; }
#help {
  margin: 0;
  margin-top: -1.5rem;
  margin-bottom: 0.5rem;
}

.tab         + label:before { content: "أظهر " }
.tab:checked + label:before { content: "أخفِ " }

#helpcontent ul {
    text-align: right;
}

  /* width: 80vw; */
  /* min-width: 10em; */
  /* max-width: 35em; */

.tab + label {
  font-weight: normal;
  padding: 10px;
  --width: 47%;
  width: var(--width);
  background: var(--tab);
  color: black;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 1rem 1rem;
  /* mask-image: radial-gradient(circle 10px at 0 0, transparent 0, transparent 20px, black 21px); */
  /* clip-path: circle(50px at 0 100px); */
  /* clip-path: path('M0,0 h250 a 50 50 0 0 1 50 50 Z'); /*a 250 250 0 0 1 100 100 v70 h-750 Z');*/
  /* clip-path: path('h 661.90528 c 3.02658,-52.87421 46.75217,-94.21966 99.71289,-94.28516 Z'); */
  /* mask-image: circle */
  z-index: 2;
  position: relative;
  /* margin-top: -1rem; */
}

@media (max-width:  992px) { .tab + label { --width: 45% } }
@media (max-width:  768px) { .tab + label { --width: 44% } }
@media (max-width:  576px) { .tab + label { --width: 43% } }

#helptoggle + label {
  right: calc( 100% - var(--width) - 20px );
  top:           calc( -1.74rem - 20px );
  margin-bottom: calc( -1.74rem - 20px + 10px ); /* remove the space created by removing it */
}

.contentcontainer {
  padding: 1rem 0.1rem 0rem 0.1rem;
  background: rgba(255,255,255,0.4);
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3);
}

#helptoggle:not(checked) ~ div #helpcontent {
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s cubic-bezier(0, 1.0, 0, 1.0),
              visibility 1s step-end,
              padding  0.5s ease-in;
  visibility: hidden;
  padding: 0.5rem 0.1rem 0rem 0.1rem;
}
#helptoggle:checked ~ div #helpcontent {
  max-height: 32766px;
  transition: max-height 3s ease-in,
              visibility 3s step-start,
              padding  0.5s ease-out;
  visibility: visible;
  padding: 1rem 0.1rem 0rem 0.1rem;
}

#optiontoggle:not(checked) ~ #options {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out, /*cubic-bezier(0, 1.0, 0, 1.0),*/
              visibility 0.5s step-end,
              padding    0.5s ease-in;
  visibility: hidden;
  padding: 0;
}
#optiontoggle:checked ~ #options {
  max-height: 10rem;
  transition: max-height 1s ease-in,
              visibility 1s step-start,
              padding  0.5s ease-out;
  visibility: visible;
  padding: 1rem 0.1rem 0rem 0.1rem;
}

/* .labelcontainer { */
/*   filter: drop-shadow(1px 3px 4px rgba(0, 0, 0, 0.3)); */
/* } */

/* #help label::after { */
/* 	width: 1rem; */
/* 	height: 1rem; */
/* 	background: transparent; */
/* 	top: -10px; */
/* 	right: 0; */
/* 	position: relative; */
/* 	content: ''; */
/* 	border-top-left-radius: 100%; */
/* 	box-shadow: 50px 0px 0px 50px white; */
/* 	clip: path('V0,0 L10,10 Z'); */
/* 	display: block; */
/*     z-index: 99; */
/* } */

.tab + label:hover,
.tab + label:focus {
  background: var(--tab-active);
}

kbd {
  font-family: serif;
  direction: ltr;
  font-size: 0.7rem;
  /* based on https://meta.superuser.com/q/4788 */
  background-color: #e7e7e7;
  border: 1px solid #888;
  border-radius: 0.5em;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2),
              0 0 0 2px #fff inset;
  color: #000;
  display: inline-block;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  text-shadow: 0 1px 0 #fff;
}            

.roman { font-size: 80%; }
.roman, .roman * {
  font-family: serif;
  direction: ltr;
}

summary { outline: none; } /* hide bounding box when click */

/* https://stackoverflow.com/a/38215801 */
details[open] > .details-content {
  animation: fade-in .5s ease-in-out;
}
@keyframes fade-in {
  0%    { opacity: 0; }
  100%  { opacity: 1; }
}

#zzback { display: block; margin: 1em auto; }
