/* general */
html { scroll-behavior: smooth; }
::selection { background: rgba(0,0,255,0.1); }

/* https://bits.theorem.co/css-pro-tips-responsive-font-sizes-and-when-to-use-which-units */
html { font-size: calc(16px + 0.5vw) }
/* https://getbootstrap.com/docs/4.0/layout/overview/#responsive-breakpoints */
                             /* html { font-size: 1   em; } */
/* @media (min-width:  576px) { html { font-size: 1   em; } } */
/* @media (min-width:  768px) { html { font-size: 1.5 em; } } */
/* @media (min-width:  992px) { html { font-size: 1.5 em; } } */
/* @media (min-width: 1200px) { html { font-size: 1.5 em; } } */


* {
  font-family: Cortoba;
  font-size: inherit; /* some widgets default to another value */
}

#aaya_beg, #aaya_end { font-family: KacstOne; }

/* center everything */
body { text-align: center; }
#all {
  display: inline-block;
  width: 80vw;
  min-width: 10em;
  max-width: 35em;
}

/* suar/ayat selection */
#aaya_beg, #aaya_end { width: 1.5em; }
#sura_beg, #sura_end { width: 6.5em; }
table { display: inline; }
table, table * { margin: 0; padding: 0;  }
td { padding: 0.4em; }
td label { padding-left: 0.1em; }

html, body, #all { height: 95%; } /* http://stackoverflow.com/questions/11089540/ddg#11089591 */
#txt {
  text-align: right;
  padding: 0 1em;
  font-family: AmiriQuranWeb;
  width: 90%;
  height: 75%;
}

#ok {
  display: block;
  margin: 1em auto;
  width: 10rem;
}

#header {
  margin: -0.5em auto;
}

#title {
  display: inline-block;
}

#header div {
  display: inline-block;
}

#header button {
  margin-bottom: 1em;
  margin-right: 0.5em;
}

#endmsg {
  font-size: 120%;
  text-align: center;
  margin-top: 0.5em;
}

